<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TO-DO Manager</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="p-4">
    <div class="flex flex-col justify-center items-center gap-4">
      <div class="col-start-3 col-span-2"><%- include('header.ejs') %></div>
      <div class="flex flex-col justify-center">
        <p class="py-2 text-3xl pb-6">TO-DO manager</p>
        <div class="flex flex-col justify-center items-center">
          <div class="w-1/2 flex flex-col justify-center">
            <p>New here?</p>
            <a
              href="/signup"
              class="px-8 bg-gray-100 hover:bg-green-200 p-2 rounded-lg border-2 border-black flex justify-center"
              >Sign Up</a>

            <p class="pt-6">Already have an account?</p>
            <a
              href="/login"
              class="px-8 bg-gray-100 hover:bg-green-200 p-2 rounded-lg border-2 border-black flex justify-center"
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-16"><%- include('footer.ejs') %></div>
  </body>
</html>